.card {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 2rem;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardHeader {
  text-align: center;
}

.date {
  display: block;
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
  font-weight: bold;
  color: #020202;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.cardImage {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 20px;
  transition: transform 0.3s ease;
}

.cardImage:hover {
  transform: scale(1.02);
}

.cardContent {
  flex-grow: 1;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardContent p {
  color: #333;
  line-height: 1.6;
  flex-grow: 1;
  margin: 0;
}


.cardFooter {
  padding: 1.5rem;
  border-top: 1px solid #e0e0e0;
  text-align: right;
}

.fullStoryButton {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: #0070f3;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font: inherit;
  text-align: center;
  transition: background-color 0.3s;
}

.fullStoryButton:hover {
  background: #005bb5;
}
