
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 12px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.fakeTextarea {
  height: 60px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 12px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 10rem;
}
